{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-desc">
<h1>Data Integration</h1>
<hr>
<p>lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectet <br> lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem consectet<br> lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectet</p>
<br>
<br>
<br>
<div class="img-container">
<img src="{% static 'images/dataintegration.png' %}" alt="">
</div>
</div>
{% endblock %}  