{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-desc">
<img src="{% static 'images/logo.webp'%}" class="img-fluid" alt="..." style="margin-bottom:10px;margin-top: 10px;">
<hr>
<p>lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectet <br> lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem consectet<br> lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectet</p>
<div class="img-container">
<img src="{% static 'images/banner.png' %}" alt="">
</div>
</div>
{% endblock %}  