{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-desc">
<h1>Our Services</h1>
<img src="{% static 'images/services.png'%}" class="img-fluid" alt="...">
<p>lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectet <br> lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectet</p>
</div>
<div class="container">
<div class="card" style="width: 18rem;">
    <img src="{% static 'images/checklist.png'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Checklist</h5>
      <p class="card-text">lorem ipsum dolor sit am lorem ipsum dolor lorem ipsum dolor sit am lorem ipsum.</p>
      <a href="{% url 'checklist' %}" class="btn btn-dark">See More</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{% static 'images/data-integration.jpeg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Data Integration</h5>
      <p class="card-text">lorem ipsum dolor sit am lorem ipsum dolor lorem ipsum dolor sit am lorem ipsum.</p>
      <a href="{% url 'data' %}" class="btn btn-dark">See More</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{% static 'images/dash.jpeg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dashboards</h5>
      <p class="card-text">lorem ipsum dolor sit am lorem ipsum dolor lorem ipsum dolor sit am lorem ipsum.</p>
      <a href="{% url 'dashboard' %}" class="btn btn-dark">See More</a>
    </div>
    </div>
    <!-- <div class="card" style="width: 18rem;">
        <img src="{% static 'images/man-g3d1ac25bb_640.webp'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">DASHBOARDS</h5>
          <p class="card-text">lorem ipsum dolor sit am lorem ipsum dolor lorem ipsum dolor sit am lorem ipsum.</p>
          <a href="#" class="btn btn-primary">See More</a>
        </div>
        </div> -->
</div>        
{% endblock %}  